/* CSS declarations go here */

#react-layout {
    width: 90%;
    margin: 0 auto;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    background: url(images/group-of-people.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 800px;
    position: relative;
    border: 2px solid white;
    border-radius: 0% 0% 2% 2%;
}


.nav {
    height: 50px;
    margin-top: 20px;
}

.nav-title {
    float: left;
    font-size: 4rem;
}

.nav-title li {
    display: inline;
    list-style: none;
    padding-left: 30px;
}

.nav-title img {
    height: 60px;
}

.navbar {
    float: right;
    font-size: 2rem;
    padding-top: 20px;
    margin-right: 50px;
}

.navbar li {
    display: inline-block;
    list-style: none;
    margin-right: 60px;
}

.navbar li :hover {
    color: red;     
}

.article {
    background-image: url('group-of-poeple.jpg') no-repeat;
}

.article-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 5rem;
}

.article-item {    
    position: relative;    
    height: 300px;    
    font-size: 24px;
    font-style: oblique;
    color: black;
    text-align: center;
    padding: 0 20px;
    margin: 20px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.intro {

}

.intro-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 100px;
}

.intro-context {
    padding-left: 25%;
    width: 80%;
}

.intro-context p {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 50px;
    
}

.intro-button {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 100px;
}

.intro-button li {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;  
}

.feature-item {
    text-align: center
}

.feature-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 100px;
}

.feature-icon {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.feature-icon i {
    padding-top: 30px;
    font-size: 60px;
    height: 120px;
    width: 120px;
    border: 3px solid red;
    border-radius: 50%;
    color: red;
}

.feature-button {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5rem;
}

.feature-button a {
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-img {
    text-align: center;
}

.feature-text, h5 {
    font-size: 2rem;
    padding-top: 30px;
}

.info-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 50px;
}

.info li {
    list-style: none;
    margin-top: 5px;
    font-size: 18px;
}

.info-item {    
    position: relative;        
    color:black;        
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.info-img {
    display:table-cell; 
    vertical-align:middle; 
    text-align:center;
    width: 20%;    
}

.info img {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

.footer {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
}

.footer .copyright {
    float: left;
}

.footer .MIT {
    float: right;
}

.social-media ul {
    margin-top: 50px;   
}

.social-media li {
    display: inline;
    margin-left: 5px;
}

.fa {
    font-size: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius:50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}

hr {
    border-color: red;
}