/* .loginPage, .registerPage, .errorPage {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

.errorPage .oops {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 15rem;
    text-align: center;
}

.errorPage .oops {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 15rem;
    text-align: center;
} */