
.blogPage {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 100px 0px;
    color: #9B59BF;
    font-size: 2rem;
    article {
        .title {
            padding: 10px 5px;
            border: 2px solid black;
            background-color: #EAEAEA;
            min-height: 200px;
            .link {
                color: #9B59BF;
            }
            .date {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
        .content {
            border: 2px solid black;
            padding: 10px 5px;
            min-height: 200px;
        }
    }
}