
.dashboardPage {
    .user {
        text-align: center;
        margin: 100px 0px;
        padding: 50px 0px;
        .stacked.segment {
            margin: auto;
            width: 600px;
        }
    }
    .post {
        text-align: center;
        margin: 100px 0px;
        padding: 50px 0px;
        .stacked.segment {
            margin: auto;
            width: 600px;
        }
    }
    .posts {
        margin: 100px 0px;
        padding: 50px 0px;
        .stacked.segment {
            margin: auto;
            width: 900px;
        }
    }
}