
.introPage {
    margin-top: 100px;
    margin-bottom: 100px;
    .section-1 {
        text-align: center;
        min-height: 300px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        h1  {
                font-size: 2.5rem;
        }
        p   {
            font-size: 1.5rem;
        }
    }

    .section-2 {
        background-color: rgb(89.5%, 90.9%, 91.3%);
        min-height: 600px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        .image {
            
            float: right;
            width: 50%;
            img {
                width: 100%;
            }
        }
        .content {
            float: left;
            padding-left: 50px;
            padding-right: 20px;
            width: 50%;
            .title {
                color: rgb(31.2%, 81.4%, 96.4%);
                font-size: 3rem;
            }
            .descirbe {
                font-size: 2.5rem;
            }
            .context {
                color: rgb(67.5%, 73.2%, 74.9%);
                font-size: 1.5rem;
            }
        }
    }

    .section-3 {
        .item {
            width: 50%;
            display: inline-flex;
            // img {
            //     transform: scale(0.5, 0.5);
            // }
            // p {
            //     font-size: 1.5rem;
                
            // }
            img {
                display:inline-block;
                transform: scale(0.5, 0.5);
                vertical-align: middle;
            }
            h2 {
                padding-top: 20px;
                display:inline-block;
                font-size: 1.5rem;
                vertical-align: middle;
            }
        }
    }

    .section-4 {
        background-color: rgb(89.5%, 90.9%, 91.3%);
        min-height: 200px;
        padding-top: 50px;
        .title {            
            text-align: center;
            float: left;
            width: 50%;
            h1  {
                font-size: 2.5rem;
            }
            p   {
                font-size: 1.5rem;
            }
        }
        .link {
            text-align-last: center;
            float: right;
            width: 50%;
            a {                
                font-size: 2rem;
            }
        }
    }
}